@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');
.home-container {
    display: flex;
    color: white;
    flex-direction: row;
    height: 100%;
    padding: 1rem;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.content-container {
    flex-direction: column;
    display: flex;
    padding: 1rem;
    margin-top: 8vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 90vh;
}

.main-heading {
    font-size: 2rem;
    font-family: 'Catamaran', sans-serif;
    color: #fcfcfc;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 0 0 0.1em hsl(228 8% 40% / 5), 0 0 0.125em currentColor;
}

.skill-content {
    margin: 0.6rem 0;
    color: #e9967a;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
    padding: 1rem;
}

.skill-animation {
    height: 60px;
    width: 100%;
    margin: 1rem 0;
}

.container {
    margin-top: 1.5rem;
    width: 50vw;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.circles {
    position: relative;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: relative;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: circle 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 8%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes circle {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.home-btn {
    margin-top: 1.5rem !important;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-top: 0.8rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.home-btn:hover {
    background-color: white;
    color: var(--primary-color);
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
}

@media screen and (min-width: 950px) {
    .content-container {
        width: 50vw;
        height: 100%;
    }
    .container {
        display: flex;
    }
    .welcome-content {
        font-size: 0.9rem;
    }
    .main-heading {
        font-size: 4rem;
    }
    .skill-content {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 1rem;
    }
    .home-btn {
        padding: 0.9rem 2.2rem;
        font-size: 1rem;
    }
}

#homeBtn1 {
    position: relative;
    padding: 12px 14px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
}

#homeBtn1 span {
    position: relative;
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    letter-spacing: 1px;
    z-index: 1;
}

.liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #60939a;
    box-shadow: inset 0 0 50px #000;
    transition: .5s;
}

.liquid::after,
.liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

.liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

#homeBtn1:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}